<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- Required zalo app id -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.App_System_Management_Visitors_For_Old_Aparment"
        tools:targetApi="31">
        <activity
            android:name=".DeleteAccountActivity"
            android:exported="false" />
        <activity
            android:name=".EditAccountActivity"
            android:exported="false" />
        <activity
            android:name=".AddNewAccountActivity"
            android:exported="false" />
        <activity
            android:name=".DeleteVisitorActivity"
            android:exported="false" />
        <activity
            android:name=".DeleteApartmentActivity"
            android:exported="false" />
        <activity
            android:name=".ListFeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".ManageListApartmentActivity"
            android:exported="false" />
        <activity
            android:name=".ManageListVisitorActivity"
            android:exported="false" />
        <activity
            android:name=".ManageListAccountActivity"
            android:exported="false" />
        <activity
            android:name=".ListApartmentActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.CALL" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListVisitorActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardAdminActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".PinCodeActivity"
            android:exported="false" />
        <activity
            android:name=".EditVisitorActivity"
            android:exported="false" />
        <activity
            android:name=".EditApartmentActivity"
            android:exported="false" />
        <activity
            android:name=".AddNewVisitorActivity"
            android:exported="false" />
        <activity
            android:name=".AddNewApartmentActivity"
            android:exported="false" />
        <activity
            android:name=".FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".RatingActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterFormActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>